{
    "env": {
        "browser": true,
        "es6": true
      },
    "plugins": [
        "eslint-plugin-html"
    ],
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2015
      },
    "rules": {
        "strict": [2, "global"],
        "no-console": "off"
    }
}
