{
    "env": {
        "browser": true,
        "es6": true
      },
    "plugins": [
        "eslint-plugin-html"
    ],
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "script"
      },
    "rules": {
        "strict": [2, "global"]
    }
}
